<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite 1" verbose="1" >
  <test name="faceBooktest" >
    <classes>
      <class name="com.test.automate.WalletHub.facebookLogin.TC001_VerifyLogin"/>
    </classes>
 </test>
 
  <test name="Regression suite 1" >
    <classes>
      <class name="com.test.automate.WalletHub.walletHubReview.TC002_ReviewWalletHub"/>
    
    </classes>
 </test>
</suite>


